[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "==2.26.0"
terra-sdk = "==1.0.1"
fastapi = "==0.70.0"
fastapi-utils = "==0.2.1"
uvicorn = "==0.15.0"

[dev-packages]

[requires]
python_version = "3.8"
